{{> admin-tab route='group-tours'}}

<a href='/admin/group-tours/create'>
  <button type="button" class="btn btn-primary">Create Group Tour
  </button>
</a>

<br />
<br />

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Function</th>
    </tr>
  </thead>

  <tbody>
    {{#each groupTours}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/group-tours/{{this.id}}">Show
          </a>
        </button>

        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/admin/group-tours/{{this.id}}/edit">Edit
          </a>
        </button>

        <form action="/admin/group-tours/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          {{!-- onclick 事件處理器(return true or false) --}}
          {{!-- 使用 confirm 顯示彈窗 --}}
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`Confirm to delete {{this.name}} ？`)">Delete
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>