<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light px-4" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <span class="fw-bold">Jorni Tours</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse ms-auto" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0 gap-3">
        {{!-- role --}}
        <span class="navbar-brand"><strong>Hi, {{#if
            loginUser}}{{loginUser.firstName}} {{loginUser.lastName}}{{else}}Visitor{{/if}}</strong></span>

          {{!-- admin --}}
          {{#if loginUser.isAdmin}}
          <li class="nav-item d-inline-flex align-items-center">
            <a href="/admin" class="text-danger nav-link">
              <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
              <span class="d-inline m-1">Admin Backstage</span>
            </a>
          </li>
          {{/if}}

          {{!-- cart --}}
          <li class="nav-item">
            <a href="/cart" class="nav-link">
              <i class="fas fa-shopping-cart fa-2xl"></i>
              {{#if session.cartAmount}}
              <span class="badge rounded-pill badge-danger text-light bg-danger"
                style="position:relative; bottom: 15px; right: 15px;">{{session.cartAmount}}</span>
              {{/if}}
              <span class="d-inline m-1">Shopping Cart</span>
            </a>
          </li>

          {{#if loginUser}}
          {{!-- profile --}}
          <li class="nav-item d-inline-flex align-items-center">
            <a href="/users/{{loginUser.id}}" class="nav-link">
              <i class="fa-solid fa-circle-user fa-2xl"></i>
              <span class="d-inline m-1">Profile</span>
            </a>
          </li>

          {{!-- favorite --}}
          <li class="nav-item d-inline-flex align-items-center">
            <a href="/favorite" class="nav-link">
              <i class="fa-brands fa-gratipay fa-2xl"></i>
              <span class="d-inline m-1">My Favorite</span>
            </a>
          </li>

          {{!-- order --}}
          <li class="nav-item d-inline-flex align-items-center">
            <a href="/orders" class="nav-link">
              <i class="fa-solid fa-rectangle-list fa-2xl"></i>
              <span class="d-inline m-1">Order Management</span>
            </a>
          </li>

          {{!-- logout --}}
          <li class="nav-item d-inline-flex align-items-center">
            <a href="/logout">
              <button class="btn btn-outline-danger my-sm-0 my-2">Logout</button>
            </a>
          </li>
          {{else}}
          <li class="nav-item d-inline-flex align-items-center">
            <a href="/login">
              <button class="btn btn-outline-success my-sm-0 my-2">Login/Register</button>
            </a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>