{{> order-breadcrumb route='cart'}}

<div class="card">
  <div class="card-body my-3">
    {{#if cart.cartedGroupTours}}
    <table class="table align-middle">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col"></th>
          <th scope="col">Date</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each cart.cartedGroupTours}}
        <tr>
          <td>
            <div>
              <a href="/group-tours/{{this.id}}">
                <img src="{{this.image}}" class="card-img" alt="..." style="height: 100px;width: auto;">
              </a>
            </div>
          </td>
          <td>
            <a href="/group-tours/{{this.id}}">
              <span>{{this.name}}</span>
            </a>
          </td>
          <td>
            <span>{{this.departureDate}}</span>
          </td>
          <td>
            <span>{{this.price}}</span>
          </td>
          <td>
            <div class="d-flex align-items-center">
              {{#ifCond this.CartItem.quantity 1}}
              <form action="/cartItem/{{this.CartItem.cartId}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-sm btn-outline-secondary"
                  onclick="return confirm(`Confirm to delete 「{{this.name}}」 ？`)">-</button>
              </form>
              {{else}}
              <form action="/cartItem/{{this.CartItem.cartId}}/sub" method="POST">
                <button type="submit" class="btn btn-sm btn-outline-secondary">-</button>
              </form>
              {{/ifCond}}
              <span class="mx-3">
                {{this.CartItem.quantity}}
              </span>
              <form action="/cartItem/{{this.CartItem.cartId}}/add" method="POST">
                <button type="submit" class="btn btn-sm btn-outline-secondary">+</button>
              </form>
            </div>
          </td>
          <td>
            <span>{{multiplicate this.price this.CartItem.quantity}}</span>
          </td>
          <td>
            <form action="/cartItem/{{this.CartItem.cartId}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-link"
                onclick="return confirm(`Confirm to delete 「{{this.name}}」 ？`)">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="h4 my-4">
      <div class=" row">
        <div class="col">Total：</div>
        <div class="col text-danger text-end">TWD {{total}}</div>
      </div>
    </div>
    {{/if}}

    <div class=" button-container d-flex justify-content-end">
      <a href="/group-tours" class="btn btn-secondary mx-2">Continue shopping</a>
      {{#if loginUser}}
      <a href="/order" class="btn btn-warning">Checkout</a>
      {{else}}
      <a href="/login" class="btn btn-warning">Checkout</a>
      {{/if}}
    </div>
  </div>
</div>