<div class="row">
  <div class="col-md-12">
    <h1>{{groupTour.name}}</h1>
    <p>[ {{groupTour.Category.name}} ]</p>
  </div>

  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{groupTour.image}}"
      style="width: 300px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">

    <br>

    <div class="well">
      <ul class="list-unstyled">
                
        <li><span class="badge rounded-pill bg-warning text-dark mb-2">Rating : {{groupTour.rating}}</span></li>
        <li><strong>City:</strong> {{groupTour.city}}</li>
        <li><strong>Departure Date:</strong> {{groupTour.departureDate}}</li>
        <li><strong>Return Date:</strong> {{groupTour.returnDate}}</li>
        <li><strong>Duration:</strong> {{groupTour.duration}}</li>
        <li><strong>Quantity:</strong> {{groupTour.quantity}}</li>
        <li><strong>Price:</strong> {{groupTour.price}}</li>
        <li><strong>Can Be Cancel:</strong>{{#if groupTour.canBeCancel}} Yes{{else}} No{{/if}}</li>
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <p style="white-space: break-spaces;">{{groupTour.description}}</p>
  </div>

  <hr>
</div>

{{!-- Comment --}}
<div class="row">
  {{#if groupTour.Comments}}
  <div class="col-md-12">
    <h3 class="mb-3">All comments</h3>
  </div>
  {{/if}}

  {{#each groupTour.Comments}}
  <div class="col-md-12">
    {{#if ../loginUser.isAdmin}}
    <form action="/comments/{{this.id}}?_method=DELETE" method="POST" class="float-end">
      <button type="submit" class="btn btn-danger" onclick="return confirm(`Confirm to delete 「{{this.User.firstName}} {{this.User.lastName}}」's comment ？`)">Delete</button>
    </form>
    {{/if}}

    <h4><a href="/users/{{this.User.id}}">{{this.User.firstName}} {{this.User.lastName}}</a></h4>

    <span class="badge rounded-pill bg-secondary mb-2">Rating : {{this.rating}}</span>

    <p>{{this.text}}</p>

    <img class="img-responsive center-block" src="{{this.image}}"
      style="width: 200px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">

    <footer class="blockquote-footer">{{relativeTimeFromNow this.createdAt}}</footer>
  </div>
</div>
<hr />
{{/each}}

{{!-- Comment form --}}
<form action="/comments" method="POST" enctype="multipart/form-data">
  <div class="mb-4 text-center">
    <h3 class="font-weight-normal">Please share your comments</h3>
  </div>

  <div class="form-row mb-3">
    <label class="form-label" for="rating">Rating</label>
    <input class="form-control" type="number" min="1" max="5" step="0.1" placeholder="Enter rating(1.0 ~ 5.0)"
      name="rating" id="rating" required>
  </div>

  <div class="form-row mb-3">
    <label class="form-label" for="text">Comment</label>
    <textarea class="form-control" id="text" name="text" rows="3" placeholder="Enter comment"></textarea>
  </div>
  {{!-- 把 groupTour.id 送到後端取用 --}}
  <input type="hidden" name="groupTourId" value="{{groupTour.id}}">

  <div class="form-row mb-3">
    <label class="form-label" for="image">Image</label>
    <input class="form-control" type="file" name="image" id="image">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</form>