{{!-- groupTour --}}
<div class="card mb-5">
  <div class="image m-3">
    <div class="ratio ratio-16x9">
      <img class="card-img-top img-fluid rounded-3" src="{{groupTour.image}}" width="320px" height="180px"
        style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>
  </div>

  <div class="card-body pt-0">
    {{!-- favorite button --}}
    <div class="button float-end">
      {{#if groupTour.isFavorited }}
      <form action="/favorite/{{groupTour.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn">
          <i class="fa-solid fa-heart fa-2xl" style="color: brown;"></i>
        </button>
      </form>
      {{else}}
      <form action="/favorite/{{groupTour.id}}" method="POST" style="display: contents;">
        <button type="submit" class="btn">
          <i class="fa-regular fa-heart fa-2xl" style="color: gray;"></i>
        </button>
      </form>
      {{/if}}
    </div>

    <h2 class="title">{{groupTour.name}}</h2>
    <p class="badge bg-secondary mb-0">{{groupTour.Category.name}}</p>

    <div class="rating my-3">
      {{#if groupTour.rating}}
      <span class="badge rounded-pill bg-warning text-dark d-inline">{{groupTour.rating}}</span>
      {{/if}}
      <span class="text-secondary">({{groupTour.ratingCount}})</span>
    </div>

    <div class="product-detail d-grid gap-1">
      <div><strong>City：</strong>{{groupTour.city}}</div>
      <div><strong>Departure Date：</strong>{{groupTour.departureDate}}</div>
      <div><strong>Return Date：</strong>{{groupTour.returnDate}}</div>
      <div><strong>Duration：</strong>{{groupTour.duration}}</div>
      <li id="inventory" value="{{groupTour.quantity}}" style="list-style-type: none;"><strong>Quantity：</strong>{{groupTour.quantity}}</li>
      <div><strong>Price：</strong>{{formatPrice groupTour.price}}</div>
      <div><strong>Can Be Cancel：</strong>{{#if groupTour.canBeCancel}}Yes{{else}}No{{/if}}</div>

      <div class="bg-light rounded-3 mt-3">
        <p class="text p-3 mb-0" style="white-space: break-spaces;">{{groupTour.description}}</p>
      </div>
    </div>
  </div>
  
  <div class="btn text-end p-0 m-3">
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </div>
</div>

{{!-- Select --}}
<div class="card mb-5">
  <div class="card-header text-center bg-white mt-2">
    <h3>Select</h3>
  </div>

  <form id="cartForm" action="/cart" method="POST">
    <div class="card-body">
      <table class="table align-middle mt-3">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Reset</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span>{{groupTour.departureDate}}</span>
            </td>
            <td>
              <span id="groupTourPrice">{{formatPrice groupTour.price}}</span>
            </td>
            <td>
              <div class="counter d-flex align-items-center">
                <button class="btn btn-sm btn-outline-secondary" style="width: 30px;"
                  onclick="decrementCount(); return false">
                  <i class="fa-solid fa-minus"></i>
                </button>

                <input type="number" class="text-center mx-2" id="count" placeholder="0" name="quantity"
                  onchange="calculateTotal()" {{#if groupTour.cartItem}}value="{{groupTour.cartItem.quantity}}"{{/if}} readonly required>

                <button class="btn btn-sm btn-outline-secondary" style="width: 30px;"
                  onclick="incrementCount(); return false">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </td>
            <td>
              <button class="btn btn-link" onclick="resetCount(); return false">
                <i class="fa-solid fa-rotate-right"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="h4 my-4">
        <div class="row">
          <div class="col" id="total"></div>
          <div class="col text-danger text-end" id="subTotal">
          </div>
        </div>
      </div>

      <input type="hidden" name="groupTourId" value="{{groupTour.id}}">
    </div>

    {{!-- cart button --}}
    <div class="button-container d-flex justify-content-end m-3">
      {{#if groupTour.quantity}}
      <button type="submit" class="btn btn-primary mx-2">Add to the cart</button>
      <button type="submit" class="btn btn-warning" onclick="switchForm()">Order now</button>
      {{else}}
      <button type="submit" class="btn btn-secondary disabled mx-2">Sold out</button>
      <a href="/group-tours" class="btn btn-primary">Continue shopping</a>
      {{/if}}
    </div>
  </form>
</div>

{{!-- comments --}}
<div class="card mb-5">
  <div class="card-header text-center bg-white mt-2">
    <h3>All comments</h3>
  </div>

  {{#if groupTour.Comments}}
  <div class="card-body">
    {{#each groupTour.Comments}}
    {{#if ../loginUser.isAdmin}}
    <form action="/comments/{{comment.id}}?_method=DELETE" method="POST" class="float-end">
      <button type="submit" class="btn btn-danger"
        onclick="return confirm(`Confirm to delete 「{{comment.User.firstName}} {{comment.User.lastName}}」's comment ？`)">Delete</button>
    </form>
    {{/if}}

    <div class="image float-start" style="margin-right: 20px;">
      <a href="/users/{{this.User.id}}">
        {{#if this.User.avatar}}
        <img class="image rounded-circle" src="{{this.User.avatar}}" width="60px" height="60px"
          style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
        {{else}}
        {{!-- default user avatar --}}
        <img class="image rounded-circle" src="https://fakeimg.pl/60" width="60px" height="60px"
          style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
        {{/if}}
      </a>
    </div>

    <div class="comment-detail overflow-hidden">
      <h4 class="mb-0"><a href="/users/{{this.User.id}}">{{this.User.firstName}} {{this.User.lastName}}</a>
      </h4>

      <span class="badge rounded-pill bg-secondary my-3">Rating：{{this.rating}}</span>

      <div class="bg-light rounded-3">
        <p class="text p-3 mb-0">{{this.text}}</p>

        {{#if this.image}}
        <img class="img-responsive d-block p-3 pt-0" src="{{this.image}}"
          style="width: 200px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
        {{/if}}
      </div>

      <footer class="blockquote-footer mb-0 mt-3">{{relativeTimeFromNow this.createdAt}}</footer>
    </div>

    <hr>
    {{/each}}
  </div>
  {{else}}
  <h4 class="text-secondary text-center my-5">No comments yet</h4>
  {{/if}}
</div>

<script>
  // onchange input
  function calculateTotal() {
    const quantity = parseInt(document.getElementById('count').value)
    // 由 , 替換成 ''，g 是正則表達式的標誌，替換所有匹配的項目
    const price = parseInt(document.getElementById('groupTourPrice').innerText.replace(/,/g, ''))

    const subTotal = price * quantity

    // 有選擇數量，顯示總金額
    if (quantity) {
      document.getElementById('total').innerText = 'Total： '
      document.getElementById('subTotal').innerText = `TWD ${subTotal.toLocaleString()}`
    } else {
      document.getElementById('total').innerText = ''
      document.getElementById('subTotal').innerText = ''
    }
  }

  // onclick +
  function incrementCount() {
    const countInput = document.getElementById('count')
    const inventory = document.getElementById('inventory')

    // 選擇數量 < 庫存
    if (countInput.value < inventory.value) {
      countInput.value++
      return calculateTotal()
    }
  }

  // onclick -
  function decrementCount() {
    const countInput = document.getElementById('count')
    if (countInput.value > 1) {
      countInput.value--
    } else {
      // 設為空字串，顯示 placeholder="0"
      countInput.value = ''
    }

    return calculateTotal()
  }

  // onclick reset
  function resetCount() {
    // 設為空字串，顯示 placeholder="0"
    document.getElementById('count').value = ''
    return calculateTotal()
  }

  function switchForm() {
    // 切換表單的 action 和 method
    document.getElementById('cartForm').action = '/orders/create'
    document.getElementById('cartForm').method = 'GET'
  }

// 加載頁面時，再次執行計算
calculateTotal()
</script>