{{!-- order --}}
<div class="container" style="width: 800px;">
  <div class="card mb-5">
    <div class="card-header text-center bg-white mt-2">
      <h3>Product</h3>
    </div>

    <div class="row m-3">
      <a href="/group-tours/{{order.specificGroupTour.id}}" class="ratio ratio-21x9">
        <img class="card-img-top img-fluid rounded-3" src="{{order.specificGroupTour.image}}" width="286px"
          height="180px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </a>
    </div>

    <div class="card-body pt-0 mb-3">
      <div class="d-grid gap-1">
        <h4>
          {{#if order.paymentStatus}}
          {{!-- isSetOff --}}
          {{#if order.specificGroupTour.isSetOff}}
          <span class="badge bg-success">Already set off</span>
          {{else}}
          <span class="badge bg-danger">Not set off yet</span>
          {{/if}}
          {{/if}}
        </h4>
        <div class="row my-3">
          <h4>
            <a class="text-decoration-none link-dark"
              href="/group-tours/{{order.specificGroupTour.id}}">{{order.specificGroupTour.name}}</a>
          </h4>
        </div>
        <div><strong>City：</strong>{{order.specificGroupTour.city}}</div>
        <div><strong>Departure date：</strong>{{order.specificGroupTour.departureDate}}</div>
        <div><strong>Duration：</strong>{{order.specificGroupTour.duration}}</div>
        <div><strong>Quantity：</strong>{{order.specificGroupTour.OrderItem.quantity}}</div>
      </div>

      <hr>

      {{!-- payment --}}
      <div class="text h4 mt-4">
        <div class="row">
          <div class="col">
            Payment amount：</div>
          <div class="col text-danger text-end">TWD {{formatPrice order.totalPrice}}</div>
        </div>
      </div>

    </div>

    <div class="btn text-end p-0 m-3">
      {{#if order.paymentStatus}}
      {{!-- comment button --}}
      {{#if order.specificGroupTour.isComment}}
      <a href="/orders/{{order.id}}/comment?groupTourId={{order.specificGroupTour.id}}"
        class="btn btn-outline-primary mx-2">View your comment</a>
      {{else}}
      <a href="/orders/{{order.id}}/comment?groupTourId={{order.specificGroupTour.id}}"
        class="btn btn-outline-primary mx-2">Give a comment</a>
      {{/if}}
      {{/if}}
      <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
    </div>
  </div>

  {{!-- order --}}
  <div class="card mb-5">
    <div class="card-header text-center bg-white mt-2">
      <h3>Order details</h3>
    </div>

    <li class="list-group-item fw-bold d-grid gap-1 py-3 border-0">
      <h4>Order number：#{{order.sn}}</h4>
      <h4>Order status：
        {{#if order.orderStatus}}
        <span class="badge bg-success">Ordered</span>
        {{else}}
        <span class="badge bg-danger">Canceled</span>
        {{/if}}
      </h4>
      </span>
      <div>Orderer's name：{{order.firstName}} {{order.lastName}}, {{order.country}}</div>
      <div>Telephone number：{{order.phone}}</div>
      <div>Order date：{{order.createdAt}}</div>
    </li>
  </div>

  {{!-- payment --}}
  <div class="card my-5">
    <div class="card-header text-center bg-white mt-2">
      <h3>Payment details</h3>
    </div>

    <li class="list-group-item fw-bold d-grid gap-1 border-0">
      <div>
        <h4>Payment status：
          {{#if order.paymentStatus}}
          <span class="badge bg-success">Paid</span>
          {{else}}
          <span class="badge bg-danger">Unpaid</span>
          {{/if}}
        </h4>
    </li>

    <div class="card-body mb-3">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col"></th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {{#each order.OrderedGroupTours}}
          <tr>
            <td>
              <div>
                <a href="/group-tours/{{this.id}}">
                  <img src="{{this.image}}" class="card-img" alt="..." style="height: 100px;width: auto;">
                </a>
              </div>
            </td>
            <td>
              <a href="/group-tours/{{this.id}}">
                <span>{{this.name}}</span>
              </a>
            </td>
            <td>
              <span>{{this.OrderItem.quantity}}</span>
            </td>
            <td>
              <span>{{formatPrice (multiplicate this.price this.OrderItem.quantity)}}</span>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <div class="text h4 mt-4">
        <p class="text-secondary fs-6">Total order amount ({{order.amount}} items)</p>
        <div class="row">
          <div class="col">
            Payment amount：</div>
          <div class="col text-danger text-end">TWD {{formatPrice order.totalPrice}}</div>
        </div>
      </div>
    </div>

    {{#if order.paymentStatus}}
    {{else}}
    <div class="btn d-flex justify-content-end m-3 p-0">
      {{!-- cancel button --}}
      <form action="/orders/{{order.id}}/cancel" method="POST">
        <button type="submit" class="btn btn-secondary mx-2">Cancel</button>
      </form>

      {{!-- payment button --}}
      <a href="/orders/{{order.id}}/payment" class="btn btn-warning">Go to Payment</a>
    </div>
    {{/if}}
  </div>
</div>