<div class="container" style="width: 800px;">
  {{!-- product information --}}
  {{> order-group-tour-information route='commentPage'}}

  {{#each order.OrderedGroupTours}}
  {{#if this.isSetOff}}
  {{#each ../order.Comments}}
  {{#if this}}
  {{!-- view comment --}}
  <div class="card mb-5">
    <div class="card-header text-center bg-white mt-2">
      <h3>View your comment</h3>
    </div>

    <div class="card-body">
      {{#if ../loginUser.isAdmin}}
      <form action="/comments/{{this.id}}?_method=DELETE" method="POST" class="float-end">
        <button type="submit" class="btn btn-danger"
          onclick="return confirm(`Confirm to delete 「{{this.User.firstName}} {{this.User.lastName}}」's comment ？`)">Delete</button>
      </form>
      {{/if}}

      <div class="image float-start" style="margin-right: 20px;">
        <a href="/users/{{this.User.id}}">
          {{#if this.User.avatar}}
          <img class="image rounded-circle" src="{{this.User.avatar}}" width="60px" height="60px"
            style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
          {{else}}
          <img class="image rounded-circle" src="https://fakeimg.pl/60" width="60px" height="60px"
            style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
          {{/if}}
        </a>
      </div>

      <div class="comment-detail overflow-hidden">
        <h4 class="mb-0"><a href="/users/{{this.User.id}}">{{this.User.firstName}} {{this.User.lastName}}</a>
        </h4>

        <span class="badge rounded-pill bg-secondary my-3">Rating：{{this.rating}}</span>

        <div class="bg-light rounded-3">
          <p class="text p-3 mb-0">{{this.text}}</p>

          {{#if this.image}}
          <img class="img-responsive d-block p-3 pt-0" src="{{this.image}}"
            style="width: 200px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
          {{/if}}
        </div>

        <footer class="blockquote-footer mb-0 mt-3">{{relativeTimeFromNow this.createdAt}}</footer>
      </div>
    </div>
  </div>
  {{else}}
  {{!-- give comment --}}
  <div class="card my-5">
    <div class="card-header text-center bg-white mt-2">
      <h3>Give a comment</h3>
    </div>
    <form action="/comments" method="POST" enctype="multipart/form-data">
      <div class="card-body my-3">
        <div class="form-row mb-3">
          <label class="form-label" for="rating">Rating</label>
          <input class="form-control" type="number" min="1" max="5" step="0.1" placeholder="Enter rating(1.0 ~ 5.0)"
            name="rating" id="rating" required>
        </div>

        <div class="form-row mb-3">
          <label class="form-label" for="text">Comment</label>
          <textarea class="form-control" id="text" name="text" rows="3" placeholder="Enter comment"></textarea>
        </div>

        {{!-- 把 groupTourId 送到後端取用 --}}
        <input type="hidden" name="groupTourId" value="{{../this.id}}">
        <input type="hidden" name="orderId" value="{{../../order.id}}">

        <div class="form-row mb-3">
          <label class="form-label" for="image">Image</label>
          <input class="form-control" type="file" name="image" id="image">
        </div>
      </div>
      <div class="button-container d-flex justify-content-end m-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {{/if}}
  {{/each}}
  {{/if}}
  {{/each}}
</div>