{{> order-breadcrumb route='payment'}}

{{!-- order information--}}
<div class="container" style="width: 800px;">
  <div class="card mb-5">
    <div class="card-header text-center bg-white mt-2">
      <h3>Order confirmed</h3>
    </div>

    <li class="list-group-item fw-bold d-grid gap-1 py-3 border-0">
      <h4>Order number：#{{order.sn}}</h4>
      <h4>Order status：
        {{#if order.orderStatus}}
        <span class="badge bg-success">Ordered</span>
        {{else}}
        <span class="badge bg-danger">Canceled</span>
        {{/if}}
      </h4>
      </span>
      <div>Orderer's name：{{order.firstName}} {{order.lastName}}, {{order.country}}</div>
      <div>Telephone number：{{order.phone}}</div>
      <div>Order date：{{order.createdAt}}</div>
    </li>
  </div>

  {{!-- payment --}}
  <div class="card my-5">
    <div class="card-header text-center bg-white mt-2">
      <h3>Payment</h3>
    </div>

    <div class="card-body my-3">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col"></th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {{#each order.OrderedGroupTours}}
          <tr>
            <td>
              <div>
                <a href="/group-tours/{{this.id}}">
                  <img src="{{this.image}}" class="card-img" alt="..." style="height: 100px;width: auto;">
                </a>
              </div>
            </td>
            <td>
              <a href="/group-tours/{{this.id}}">
                <span>{{this.name}}</span>
              </a>
            </td>
            <td>
              <span>{{formatPrice this.price}}</span>
            </td>
            <td>
              <span>{{this.OrderItem.quantity}}</span>
            </td>
            <td>
              <span>{{formatPrice (multiplicate this.price this.OrderItem.quantity)}}</span>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <div class="text h4 mt-4">
        <p class="text-secondary fs-6">Total order amount ({{order.amount}} items)</p>
        <div class="row">
          <div class="col">
            Payment amount：</div>
          <div class="col text-danger text-end">TWD {{formatPrice order.totalPrice}}</div>
        </div>
      </div>
    </div>

    {{!-- payment button --}}
    <form name="Newebpay" action="{{tradeInfo.PayGateWay}}" method="POST">
      <input class="form-control mt-2" type="hidden" name="MerchantID" value="{{tradeInfo.MerchantID}}">
      <input class="form-control mt-2" type="hidden" name="TradeInfo" value="{{tradeInfo.TradeInfo}}">
      <input class="form-control mt-2" type="hidden" name="TradeSha" value="{{tradeInfo.TradeSha}}">
      <input class="form-control mt-2" type="hidden" name="Version" value="{{tradeInfo.Version}}">

      <div class="text-end m-3">
        <button type="submit" class="btn btn-warning">Confirm payment</button>
      </div>
    </form>
  </div>
</div>