{{> order-breadcrumb route='payment'}}

{{!-- order information--}}
<div class="card mb-5">
  <div class="card-header text-center bg-white mt-2">
    <h3>Order confirmed</h3>
  </div>

  <li class="list-group-item fw-bold d-grid gap-1 border-0">
    <h4>Order id：{{order.id}}</h4>
    <div>
      <span class="badge bg-primary mb-2">Order status：
        {{#if order.orderStatus}}Ordered{{/if}}
        {{!-- {{#ifCond order.orderStatus '-1'}}Cancelled{{/ifCond}} --}}
      </span>
    </div>
    <div>Order name：{{user.firstName}} {{user.lastName}}</div>
    <div>Order phone：{{order.phone}}</div>
    <div>Order Time：{{order.createdAt}}</div>
  </li>
</div>

{{!-- payment --}}
<div class="card my-5">
  <div class="card-header text-center bg-white mt-2">
    <h3>Payment</h3>
  </div>
  <div class="card-body my-3">
    <table class="table align-middle">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col"></th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {{#each order.OrderedGroupTours}}
        <tr>
          <td>
            <div>
              <a href="/group-tours/{{this.id}}">
                <img src="{{this.image}}" class="card-img" alt="..." style="height: 100px;width: auto;">
              </a>
            </div>
          </td>
          <td>
            <a href="/group-tours/{{this.id}}">
              <span>{{this.name}}</span>
            </a>
          </td>
          <td>
            <span>{{this.price}}</span>
          </td>
          <td>
            <span>{{this.OrderItem.quantity}}</span>
          </td>
          <td>
            <span>{{multiplicate this.price this.OrderItem.quantity}}</span>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="text h4 my-4">
      <p class="text-secondary fs-6">Total order amount ({{order.amount}} items)</p>
      <div class="row">
        <div class="col">
          Payment amount：</div>
        <div class="col text-danger text-end">TWD {{order.totalPrice}}</div>
      </div>
    </div>

    {{!-- payment params--}}
    <form name='newebpay' action='{{tradeInfo.PayGateWay}}' method="POST" id="paymentForm"
      onsubmit="return submitForms();">
      <input class="form-control mt-2" type="hidden" name="MerchantID" value="{{tradeInfo.MerchantID}}">
      <input class="form-control mt-2" type="hidden" name="TradeInfo" value="{{tradeInfo.TradeInfo}}">
      <input class="form-control mt-2" type="hidden" name="TradeSha" value="{{tradeInfo.TradeSha}}">
      <input class="form-control mt-2" type="hidden" name="Version" value="{{tradeInfo.Version}}">

      <button type="submit" class="btn btn-warning float-end">confirm payment</button>
    </form>
  </div>
</div>