{{> group-tour-tabs route='topUsers'}}

<h1 class="text-center">Experienced Traveler</h1>

<hr />
<div class="row" style="text-align: center;">
  {{#each users}}
  <div class="col-3">
    <a href="/users/{{this.id}}">
      {{#if this.avatar}}
      <img class="image rounded-circle" src="{{this.avatar}}" width="140px" height="140px" style="transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;" />
      {{else}}
      <img class="image rounded-circle" src="https://fakeimg.pl/140/" width="140px" height="140px" style="transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;" />
      {{/if}}
    </a>

    <h2>{{this.firstName}} {{this.lastName}}</h2>

    <span class="bg-secondary badge">Followers：{{this.followerCount}}</span>

    {{#ifCond ../loginUser.id this.id}}
    {{else}}
    <p>
      {{!-- followship --}}
      {{#if this.isFollowed }}
    <form action="/follow/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-danger">Unfollow</button>
    </form>
    {{else}}
    <form action="/follow/{{this.id}}" method="POST" style="display: contents;">
      <button type="submit" class="btn btn-primary">Follow</button>
    </form>
    {{/if}}
    </p>
    {{/ifCond}}
  </div>
  {{/each}}
</div>